@using WebApp.Views.Shared.Components.SearchBar;
@model SPager

<div class="container m-0 p-0 btn-group" style="background-color:lightgray;border-radius:25px;height:45px;">

    <div class="col-4 btn-group p-1 m-1">
        Showing @Model.StartRecord to @Model.EndRecord of @Model.TotalItems @(Model.TotalItems == 1 ? "Row" : "Rows")
    </div>

    <div class="col-3 btn-group justify-content-end">
        <span class="col-7 mt-2 p-0">
            Rows Per Page
        </span>
        <span class="col-5 p-1">
            <select class="form-control form-select" id="pageSelector" asp-items="@ViewBag.PageSizes"
                    onchange="ChangePageSize(this, '@Model.SearchText');"></select>
        </span>
    </div>

    <div class="col-5 btn-group justify-content-end p-1 m-1">
        Showing @Model.CurrentPage / @Model.TotalPages Pages
    </div>
</div>

<script>
    function ChangePageSize(obj, searchtext) {
        window.location.href = `/@Model.Controller/@Model.Action?pageSize=${obj.value}&SearchText=${searchtext}`;
    }
</script>