@model List<Category>
@section title {
    <h3>Categories</h3>
}

@if (Model != null && Model.Count() == 0)
{
    <p>Oops! No categories to display</p>
}

<div class="row mb-3">
    <div class="col-2">
        <a class="btn btn-success" asp-controller="categories" asp-action="add">Add Category</a>
    </div>
</div>

@if (Model != null && Model.Count() > 0)
{
    @if ( @TempData["AlertMessage"] != null)
    {

        <div class="alert alert-success alert-dismissible" role="alert">
        @TempData["AlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
        Pager pager = new Pager();
        int pageNo = 0;
        if (ViewBag.Pager != null)
        {
            pager = ViewBag.Pager;
            pageNo = pager.CurrentPage;
        }

     <vc:search-bar search-pager="@ViewBag.SearchPager"></vc:search-bar>   
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td><a class="btn btn-success" asp-controller="categories" asp-action="edit" asp-route-id="@category.CategoryId">Edit</a></td>
                    <td>
                        <div class="modal-btn">
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUser-@category.CategoryId" data-store-id="@category.CategoryId" id="deleteUser">Delete</button>
                        </div>
                    </td>
                </tr>
                <!--Delete Modal -->
                <div class="modal fade" id="deleteUser-@category.CategoryId" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                <div class="modal-body">
                                    <span>Once deleted, you will not be able to recover</span>
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" asp-controller="categories" asp-action="delete" asp-route-categoryid="@category.CategoryId" id="confirm-delete-user">Ok</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
    <partial name="_Pager" model="@pager" />

}


@section Scripts{
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/custom/js/index.js"></script>
}