@using WebApp.Views.Shared.Components.SearchBar;
@model List<Category>
@section title {
    <h3>Categories</h3>
}

@if (Model != null && Model.Count() == 0)
{
    <p>Oops! No categories to display</p>
}

<div class="row mb-3">
    <div class="col-2">
        <a class="btn btn-success" asp-controller="categories" asp-action="add">Add Category</a>
    </div>
</div>

@{
    SPager pager = new SPager();
    int pageNo = 0;
    if (ViewBag.SearchPager != null)
    {
        pager = ViewBag.SearchPager;
        pageNo = pager.CurrentPage;
    }

    int startRecord = (pager.CurrentPage - 1) * pager.PageSize + 1;
    int endrecord = startRecord - 1 + pager.PageSize;
}

@if (Model != null && Model.Count() > 0)
{
    @if ( @TempData["AlertMessage"] != null)
    {

        <div class="alert alert-success alert-dismissible" role="alert">
        @TempData["AlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

     <vc:search-bar search-pager="@ViewBag.SearchPager"></vc:search-bar>   
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td><a class="btn btn-success" asp-controller="categories" asp-action="edit" asp-route-id="@category.CategoryId">Edit</a></td>
                    <td>
                        <div class="modal-btn">
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUser-@category.CategoryId" data-store-id="@category.CategoryId" id="deleteUser">Delete</button>
                        </div>
                    </td>
                </tr>
                <!--Delete Modal -->
                <div class="modal fade" id="deleteUser-@category.CategoryId" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                <div class="modal-body">
                                    <span>Once deleted, you will not be able to recover</span>
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" asp-controller="categories" asp-action="delete" asp-route-categoryid="@category.CategoryId" id="confirm-delete-user">Ok</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
    <div class="container m-0 p-0 btn-group" style="background-color:lightgray;border-radius:25px;height:45px;">

        <div class="col-4 btn-group p-1 m-1">
            Showing @startRecord to @endrecord of @pager.TotalItems @(pager.TotalItems==1 ? "Row" : "Rows")
        </div>

        <div class="col-3 btn-group justify-content-end">
            <span class="col-7 mt-2 p-0">
                Rows Per Page
            </span>
            <span class="col-5 p-1">
                <select class="form-control" id="pageSelector" asp-items="@ViewBag.PageSizes"
                        onchange="ChangePageSize(this, '@pager.SearchText');"></select>
            </span>
        </div>

        <div class="col-5 btn-group justify-content-end p-1 m-1">
            Showing @pager.CurrentPage / @pager.TotalPages Pages
        </div>
    </div>
}


@section Scripts{
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/custom/js/index.js"></script>
    <script>
        function ChangePageSize(obj, searchtext) {
            window.location.href = `/@pager.Controller/@pager.Action?pageSize=${obj.value}&SearchText=${searchtext}`;
        }
    </script>
}